---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("recipes")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="flex justify-center w-full">
      <section>
        <ul>
          {
            posts.map((post) => (
              <li class="mx-2">
                <a href={`/${post.slug}/`}>
                  <figure>
                    <img src="http://via.placeholder.com/640x360" alt="" />
                  </figure>
                  <div class="">
                    <h2 class="">{post.data.title}</h2>
                    <p>If a dog chews shoes whose shoes does he choose?</p>
                    <ul class="">
                      <li>
                        <button class="">Tag</button>
                      </li>
                      <li>
                        <button class="">Tag</button>
                      </li>
                    </ul>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
