---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import Tag from "../components/Tag.astro";
import Base from "../layouts/Base.astro";

const posts = (await getCollection("recipes")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Base title={SITE_TITLE}>
  <ul class="md:columns-2 lg:columns-3 columns-1 gap-4">
    {
      posts.map((post) => (
        <li class="mb-4 border-pink border-8 rounded-md bg-gray-light break-inside-avoid-column hover:drop-shadow-card-hover hover:-translate-y-2 hover:-translate-x-2 transition-all ease-in-out">
          <a href={`/${post.slug}/`}>
            <div class="p-3">
              <h2 class="font-bold">{post.data.title}</h2>
              <p class="mb-1">
                If a dog chews shoes whose shoes does he choose?If a dog chews
                shoes whose shoes does he choose?
              </p>
              <ul class="flex flex-wrap">
                <Tag />
                <Tag />
              </ul>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</Base>
