---
import { SITE_BASE } from "../consts";

type TagType = "category" | "cookingTime" | "tag";
type Props = { name: string; type: TagType };
const { name, type } = Astro.props;

const tagColorMap: Record<TagType, string> = {
  category: "blue-light",
  cookingTime: "green",
  tag: "purple",
};
---

<li class=`my-1 mr-1 p-0.5 px-2 rounded-md  text-sm bg-${tagColorMap[type]}`>
  <a href={`${SITE_BASE}/${name}`}>{name}</a>
</li>
