---
import { SITE_BASE } from "../consts";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

type Props = { title: string };

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href=`${SITE_BASE}/favicon.svg` />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
  </head>

  <body class="bg-gray-dark text-gray-dark">
    <Header />
    <main class="max-w-6xl mx-auto px-2">
      <slot />
    </main>
    <Footer />
  </body>
</html>
