---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Base from "./Base.astro";

type Props = CollectionEntry<"recipes">["data"];

const { title, pubDate, updatedDate, ingredients } = Astro.props;
---

<Base title="Home Page">
  <article>
    <div
      class="mb-4 p-3 text-center rounded-md bg-gradient-to-br from-pink to-blue"
    >
      <h1 class="text-xl font-bold text-transparent bg-clip-text">
        {title}
      </h1>
      <FormattedDate date={pubDate} />
    </div>
    {
      updatedDate && (
        <div class="last-updated-on">
          Last updated on <FormattedDate date={updatedDate} />
        </div>
      )
    }
    <div class="flex">
      <div class="w-30% bg-gray-light border-pink border-8 rounded-md mr-4 p-3">
        <h3 class="text-lg mb-2 font-semi-bold">Ingredients</h3>
        <ul>
          {ingredients.map((i) => <li>{i}</li>)}
        </ul>
      </div>
      <div class="w-70% bg-gray-light border-blue border-8 rounded-md p-3">
        <h3 class="text-lg mb-2 font-semi-bold">Method</h3>
        <slot />
      </div>
    </div>
  </article>
</Base>
